.homeContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(300deg,#9742d0,#308de8);
  animation: gradient 12s ease infinite;
  background-size: 400% 400%;
}

.homeContainer .homeContentWrapper {
  height: auto;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.homeContainer footer {
  align-items: flex-end;
  color: white;
  font-size: 0.8rem;
}

@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
