.homeContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(300deg,#9742d0,#308de8,#00d1b2);
  animation: gradient 12s ease infinite;
  background-size: 400% 400%;
}

.homeContainer .homeContentWrapper {
  color: white;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
}

.homeContainer footer {
  color: white;
  font-size: 0.8rem;
  margin-bottom: 5px;
}

@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
