@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Raleway');



body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background: black;
}

::-webkit-input-placeholder {
  color: #cfcfcf;
}

:-moz-placeholder {
  color: #cfcfcf;
}

::-moz-placeholder {
  color: #cfcfcf;
}

:-ms-input-placeholder {
  color: #cfcfcf;
}
